<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Madlib Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
  </head>
  <body>
    <h1>Here is your Game about space</h1>
    <p>
      I miss the Earth so much I miss my @Model.Noun. It's @Model.Adjective out in space. On such a timeless flight. And I think it's gonna be a @Model.Adjective2, @Model.Adjective2 time 'Til @Model.Verb3 brings me 'round again to find I'm not the @Model.Noun2 they think I am at home Oh, @Model.Exclamation, @Model.Exclamation, @Model.Exclamation I'm a rocket @Model.Noun2. Rocket @Model.Noun2, @Model.Verb out his fuse up here alone. 
      Mars ain't the kind of place to raise your kids. In fact it's cold as hell, And there's @Model.Exclamation one there to @Model.Verb2 them If you did. And all this @Model.Exclamation2
      I don't understand
      It's just my job five days a week
      A rocket @Model.Noun2
      A rocket @Model.Noun2
      And I think it's gonna be a @Model.Adjective2, @Model.Adjective2 time
      'Til @Model.Verb3 brings me 'round again to find
      I'm not the @Model.Noun2 they think I am at home
      Oh, @Model.Exclamation, @Model.Exclamation, @Model.Exclamation
      I'm a rocket @Model.Noun2
      Rocket @Model.Noun2, @Model.Verb out his fuse up here alone
      And I think it's gonna be a @Model.Adjective2, @Model.Adjective2 time
      'Til @Model.Verb3 brings me 'round again to find
      I'm not the @Model.Noun2 they think I am at home
      Oh, @Model.Exclamation, @Model.Exclamation, @Model.Exclamation
      I'm a rocket @Model.Noun2
      Rocket @Model.Noun2, @Model.Verb out his fuse up here alone
      And I think it's gonna be a @Model.Adjective2, @Model.Adjective2 time
      And I think it's gonna be a @Model.Adjective2, @Model.Adjective2 time
      And I think it's gonna be a @Model.Adjective2, @Model.Adjective2 time
      And I think it's gonna be a @Model.Adjective2, @Model.Adjective2 time
      And I think it's gonna be a @Model.Adjective2, @Model.Adjective2 time
      And I think it's gonna be a @Model.Adjective2, @Model.Adjective2 time
      And I think it's gonna be a @Model.Adjective2, @Model.Adjective2 time
      And I think it's gonna be a @Model.Adjective2, @Model.Adjective2 time
      And I think it's gonna be a-
    </p>
    <p>The end</p>

    <a href="/">do another story</a>
  </body>
</html>