<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Madlib Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
  </head>
  <body>
    <h1>Here is your Game</h1>
    <p>
      @Model.Exclamation, You've become lost upon the Central Asian steppe. An endless @Model.Adjective terrain full of @Model.Noun type creatures that @Model.Verb for thousands of miles. The locals @Model.Verb each morning with teeir very own @Model.Noun. @Model.Verb yourself in the historic lands of the former Mongol Empire.
    </p>
    <p>The end</p>

    <a href="/">do another story</a>
  </body>
</html>