<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Madlib Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
  </head>
  <body>
    <h1>Here is your Denmark Story</h1>
    <p>
      The majestic @Model.Noun has roamed the forest of Denmark for thousands of years. Today it @Model.Verb across the land until it came upon a large object. "@Model.Exclamation, that thing is huge!" said the @Model.Noun. The @Model.Noun kicks the object and it begins to vibrate with immense frequency. After a few moments the object becomes @Model.Adjective. @Model.Noun quickly @Model.Verb away.
    </p>
    <p>The end</p>

    <a href="/">do another story</a>
  </body>
</html>